services:
  brs-sim:
    build: .
    container_name: brs-sim
    ports:
      - "8080:8080"
    environment:
      PROJECT_PATH: "/app/projects"
      PROJECT: "hello-world"
      FILE: "main.bs"  # top-level entry point
      PORT: 8080
    volumes:
      # Mount projects for hot reload of source scripts
      - ./projects:/app/projects:cached
      # Mount server + public for hot reload
      - ./server.js:/app/server.js:cached
      - ./public:/app/public:cached
